body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    text-align: center;
    background: linear-gradient(to top right, rgb(212, 123, 208), rgb(240, 100, 228));
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

h1 {
    color: #ebebeb;
    margin-bottom: 0;
}

h3 {
    margin-top: 0px;
    color: #c9c9c9;
}

nav {
    display: grid;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

